{
  extends: "stylelint-config-devine",
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-nested-pattern": "^&"
  }
}
